#!/usr/bin/env bash
use nix

watch_file nixkell.toml
watch_file package.yaml
watch_file nix/*
watch_file .envrc.private

if [[ -f .envrc.private ]]; then
  # shellcheck disable=SC1091
  source .envrc.private
fi
